@import "compass/css3";

h2.ls {
  font-family: 'Ubuntu';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0;
}

ul.ls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.ls {
  border-bottom: 1px solid #ccc;
}

li.ls:last-child {
  border: none;
}

li.ls a.n {
  padding:10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  color: #000;
  display: block;
}

li.ls a.n:hover {
  text-shadow: 0 0 0.1px #DD3333;
}

li.ls input.newadd {
  width: 80%;
  border: none;
  border-color: transparent;
  outline: none;
  padding:10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  display: block;
  cursor: text;
}

li.ls input.newadd:focus {
  text-shadow: 0 0 1px #66d;
}