@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

/* ----------------------------------------------------- */
/*                     MODAL CONTENT                     */
/* ----------------------------------------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 10vh;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Modal Header */
.modal-header {
  font-family: 'Ubuntu';
  font-size: 25px;
  padding: 2vh 3vw;
  background-color: white;
  color: white;
}

/* ---------------------------------------------------- */
/*                      MODAL BODY                      */
/* ---------------------------------------------------- */

.modal-body {
  padding: 5vh 2vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 40vh;
}

.modal-all-workspaces-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* display: inline-block; */
}

.modal-workspace-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.modal-list-header{
  text-decoration: none;
  padding-bottom: 3vh;
  font-family: 'PT Sans', serif;
  font-size: 20px;
}

.modal-list {
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
}

.modal-list-item {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid #ccc; */
  align-items: center;
  height: auto;
  justify-content: flex-start;
}

.modal-list-item a {
  font-family: 'PT Sans', serif;
  font-size: 16px;
}

/* ---------------------------------------------------- */
/*                    MODAL CHECKBOX                    */
/* ---------------------------------------------------- */

label.modal-ws-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.modal-ws-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
label.modal-ws-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label.modal-ws-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
label.modal-ws-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label.modal-ws-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label.modal-ws-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ban-unban-button{
  background-color: transparent;
  border: 2px solid #545467;
  color: #545467;
  font-size: 16px;
  min-width: 5vw;
  min-height: 5vh;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2vh;
  text-align: center;
  outline: none;
}


/* ---------------------------------------------------- */
/*                     MODAL FOOTER                     */
/* ---------------------------------------------------- */

.modal-footer {
  padding: 2vh 2vw;
  background-color: white;
  color: white;
  margin: auto;
  text-align: center;
}

#modal-close {
  background-color: transparent;
  border: 2px solid #545467;
  color: #545467;
  font-size: 16px;
  width: 7vw;
  height: 7vh;
  margin-right: 5vw;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#modal-close:focus {
  outline: none;
}

#modal-save {
  background-color: transparent;
  border: 2px solid #545467;
  color: #545467;
  font-size: 16px;
  width: 7vw;
  height: 7vh;
  margin-left: 5vw;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

#modal-save:focus {
  outline: none;
}
