@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
  margin:0;
  padding:0;
  font-family: 'Inconsolata';
  color:#333333;
}

html { 
  background: url("/assets/unsplash4.jpg") no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

.title {
  font-family: 'Ubuntu';
  font-size: 25px;
  margin-bottom: 0.85%;
  margin-top: 1.25%;
}

.mainbody {
  font-family: 'Cardo';
  font-size: 16px;
}

.center {
  text-align: center;
  height: 15%;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: rgba(255,255,255,0.9);
  cursor: default;
}

.fixed-bg {
  height: 75vh;
}

.fixed-bg .main_clock_div{
  position: absolute;
  top: 46.5%;
  left: 51%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.main_clock_div #main_clock {
  display: inline;
  background-color: transparent;
  color: #444444;
  font-size: 90px;
  font-family: 'Lato';
  text-shadow: 0px 0.1px 2px white;
  margin: 0.2vw;
  cursor: default;
  text-align: center;
}

.main_clock_div #main_clock_ampm {
  display: inline;
  background-color: transparent;
  color: #444444;
  font-size: 30px;
  font-family: 'Lato';
  text-shadow: 0px 0.1px 2px white;
  cursor: default;
  text-align: center;
}

.fixed-bg #main_date {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: #444444;
  font-size: 20px;
  font-family: 'Lato';
  text-shadow: 0px 0.1px 2px white;
  padding: 12px 24px;
  cursor: default;
  border-radius: 5px;
  text-align: center;
}

.fixed-bg .openasana_button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #444444;
  color: #444444;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.fixed-bg #loaderspinner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  text-align: center;
  width: 10%;
  display: none;
}

#main_container {
  width: 80%;
  margin: 10%;
  position: relative;
  background: transparent;
}

#main_container .workspace_container {
  position: relative;
  border-top: 1vh solid white;
  border-left: 5vh solid white;
  border-right: 5vh solid white;
  border-bottom: 2vh solid white;
  margin-top: 3vh;
  margin-bottom: 3vh;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  background: white;
}

/* -------------- ANIMATIONS -------------- */

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@-webkit-keyframes fadeOut {
  from { opacity:1 } 
  to { opacity:0 }
}

@keyframes fadeOut { 
  from{ opacity:1 } 
  to{ opacity:0 }
}