@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
  margin:0;
  padding:0;
  font-family: 'Inconsolata';
  color:#333333;
}

html {
  height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

.title {
  font-family: 'Ubuntu';
  font-size: 25px;
  margin-bottom: 1%;
  margin-top: 2%;
}

.mainbody {
  font-family: 'Cardo';
  font-size: 16px;
}

.center {
  text-align: center;
  height: 18.5%;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #FFFFFF;
}

.fixed-bg {
  background-image: url("/unsplash.jpg");
  height: 100vh;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
  position: static;
}

.fixed-bg #main_clock {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 90px;
  font-family: 'Cardo';
  text-shadow: 0px 1px 3px black;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.fixed-bg .openasana_button {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.fixed-bg #loaderspinner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  text-align: center;
  width: 10%;
  display: none;
}

.workspace_container {
  width: 80%;
  margin: 30px;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  display: none;
}

/* -------------- ANIMATIONS -------------- */

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@-webkit-keyframes fadeIn {
  from { opacity:0 } 
  to { opacity:1 }
}

@keyframes fadeIn { 
  from{ opacity:0 } 
  to{ opacity:1 }
}