@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
  margin:0;
  padding:0;
  font-family: 'Inconsolata';
  color:#333333;
}

.title {
  font-family: 'Ubuntu';
  font-size: 22px;
}

.mainbody {
  font-family: 'Cardo';
  font-size: 16px;
}

.center {
  margin: 0 auto;
  margin-top: 3%;
  width:500px;
  text-align: center;
}

.workspace_container {
  float: left;
  clear: left;
  width: 80%;
  margin: 30px;
  position: relative;
}

#loaderspinner {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:25%;
  text-align: center;
}

body {
  background-image: url("default_background.jpg");
  background-repeat: no-repeat;
  transition-duration:1s;
}
