@import "compass/css3";

#main_container {
  width: 80%;
  margin: 10%;
  position: relative;
  background: transparent;
}

#main_container .workspace_container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1vh 0 2vh 0;
  margin: 3vh;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  background: #FBFBFB;
}

h2.ls {
  font-family: 'Ubuntu';
  font-size: 20px;
  margin: 3vh 2vw 1vh 2vw;
  padding: 0;
}

ul.ls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.ls {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: flex-start;
  flex-direction: row;
}

li.ls:last-child {
  border: none;
}

li.ls:hover {
  background: #F5F5F7;
}

li.ls button.donetask{
  order: 1;
  background: url( "/assets/checkmark.png" ) no-repeat;
  background-size: 100%;
  border: none;
  margin: 0.75vh;
  margin-left: 2vw;
  width: 30px;
  min-width: 30px;
  height: 30px;
}

li.ls button.donetask:hover:enabled {
  background: url( "/assets/checkmark_filled.png" ) no-repeat;
  background-size: 100%;
  cursor: pointer;
  outline: none;
  border-color: transparent;
  border: none; /*
  -webkit-animation-name: colorChange;
  -webkit-animation-duration: 0.5s;
  animation-name: colorChange;
  animation-duration: 0.5s; */
}

li.ls button.donetask:focus {
  outline: none;
  border-color: transparent;
  border: none;
}

li.ls a.n {
  order: 2;
  text-decoration: none;
  cursor: default;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  padding: 0 0.2vw;
  color: #000;
  width: auto;
}

li.ls a.duedate {
  position: absolute;
  right: 0px;
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  color: #000;
  display: inline;
  width: 22.5%;
}

li#notasks{
  pointer-events: none;
}

li#notasks a.notasks {
  order: 2;
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  padding: 1.5vh 2vw;
  color: #000;
  width: auto;
}

li.ls input.newadd {
  border: none;
  border-color: transparent;
  outline: none;
  padding: 1.5vh 0 1.5vh 2.5vw;
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  flex-basis: 100%;
  cursor: text;
  background: #FBFBFB;
}

li.ls div {
  position: absolute;
  right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 0px;
  display: inline;
  width: 25%;
}

li.ls a.in {
  padding-right: 5px;
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  color: #777;
  display: inline;
  cursor: default;
}

li.ls input.dateinput {
  border: none;
  border-color: transparent;
  outline: none;
  text-decoration: none;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  display: inline;
  cursor: text;
  background: #FBFBFB;
  color: #777;
}

/* -------------- ANIMATIONS -------------- */

@-webkit-keyframes colorChange {
  from { opacity:0 }
  to { opacity:1 }
}

@keyframes colorChange {
  from{ opacity:0 }
  to{ opacity:1 }
}
